
/*navbar section for*/
@media (max-width: 320px){
    /*****  header start *****/
    .header .main-navbar{
        display: none;
    }
    .header .topbar .top-left{
        text-align: center;
    }
    .header .topbar .top-left .bar{
        display: none;
    }
    .header .topbar .top-right{
        text-align: center;
        padding-top: 5px;
    }
    .header .topbar .top-right .topbar-social{
        padding-left: 0px;
    }
    /*****  header end *****/
}
@media (min-width: 768px) and (max-width: 930px) {
    .choose-us .choose-shape-three img {
      left: 77%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    /***** footer start *****/
    .footer .footer-top .footer-widget.mt25{
        margin-top: 25px;
    }
    /***** footer end *****/
}
@media (min-width: 576px) and (max-width: 767.98px){
    /*****  header start *****/
    .header .topbar .top-left{
        text-align: center;
    }
    .header .topbar .top-left .bar{
        display: none;
    }
    .header .topbar .top-right{
        text-align: center;
        margin-top: 10px
    }
    .header .topbar .top-right .topbar-social{
        padding: 0px;
    }
    .header .header .navbar .navbar-toggler{
        background: red;
        border: 1px solid black;
        padding: 0px;
    }
    /*****  header end *****/
}
@media (min-width: 320px) and (max-width: 575.98px){
    /*****  header start*****/
    .header .topbar .top-left{
        text-align: center;
    }
    .header .topbar .top-left .bar{
        display: none;
    }
    .header .topbar .top-right{
        text-align: center;
        margin-top: 10px
    }
    .header .topbar .top-right .topbar-social{
        padding: 0px;
    }
    .header .main-navbar{
        display: none;
    }
    /*****  header end*****/
}
/*navbar close*/

@media (max-width: 991.99px){
    .fotterbtm .copy-menu ul{
        text-align: center;
        padding-top: 19px;
    }
    .fotterbtm .copyright-desc{
        text-align: center;
    }
    .rs-banner{
        margin-top: 44px;
    }
    .topbar{
        display: none;
    }
}